{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <p class="h1 text-center m-5" >{{ categorie.titre }}</p>

    {% if is_granted('ROLE_ADMIN') %}
        <button><a href="{{ path('app_categorie_new') }}">Ajouter une categorie</a></button>
        <button><a href="{{ path('app_article_new') }}">Ajouter un article</a></button>

        <a href="{{ path('app_categorie_index') }}">back to list</a>
        <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">edit</a>
        {{ include('categorie/_delete_form.html.twig') }}
    {% endif %}
    
    <div class="container text-center mt-3">
        <div class="row">
            {% for article in articles  %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">titre: {{article.titre}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">autheur: {{article.auteur}}</h6>
                            <p class="card-text">{{article.contenu}}</p>
                            <button><a href={{path('app_article_show', {'id': article.id})}}>Voir</a></button>
                        </div>
                    </div>
                </div>
                
            {% else %}
                <h3> il n'y a pas d'article </h3
            {% endfor %}
        </div>
    </div>


{% endblock %}
