{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="container p-5">
        
        <div class="container-fluid ">
            <p class="h1 text-center">{{ article.titre }}</p>
            <p class="fs-4">Date de création {{ article.creation ? article.creation|date('Y-m-d à H:i:s') : '' }}</p>
            {# <p>{{ article.parution ? article.parution|date('Y-m-d H:i:s') : '' }}</p> #}
            {# <p>{{ article.etat ? 'Yes' : 'No' }}</p> #}
            <p class="fs-6">{{ article.contenu }}</p>
        </div>

        <div class="container-fluid d-flex my-5">
            {% if is_granted('ROLE_ADMIN') %}
                <button type="button" class="btn btn-outline-primary">
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a>
                </button>
                {{ include('article/_delete_form.html.twig') }}
            {% endif %}

            {% if app.user %}
                <button type="button" class="btn btn-outline-primary"><a href="{{ path('app_commentaire_new')}}">Ajouter un commentaire</a></button>
            {% else %}
                <button type="button" class="btn btn-outline-primary"><a href="{{ path('app_login')}}">Connecte toi pour ajouter un commentaire</a></button>
            {% endif %}
        </div>

        {% for c in commentaires %}
            <div>
                <p>{{c.commentaire}}</p>
                {% if is_granted('ROLE_ADMIN') %}
                    <button type="button" class="btn btn-outline-primary"><a href="{{ path('app_commentaire_show', {'id': c.id}) }}">Modifier</a></button>
                {% endif %}
            </div>
        {% else %}
            <p class="h3 text-center">il n'y a pas de commentaire</p>
        {% endfor %}

        {# <a href="{{ path('app_article_index') }}">back to list</a> #}

        
    </div>

{% endblock %}
